[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/cgutman/FFmpeg.git
[submodule "nv-codec-headers"]
	path = nv-codec-headers
	url = https://git.videolan.org/git/ffmpeg/nv-codec-headers.git
[submodule "SDL2"]
	path = SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "FFmpeg-rpi"]
	path = FFmpeg-rpi
	url = https://github.com/cgutman/FFmpeg.git
[submodule "dav1d"]
	path = dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "FFmpeg-l4t-new"]
	path = FFmpeg-l4t-new
	url = https://github.com/theofficialgman/FFmpeg.git
